
langchain-openai
ipykernel
langchain_google-genai
langchain_community
pandas
langchain_huggingface
faiss-cpu
sentence-transformers
tiktoken
chardet
langchain_ollama
docx2txt
pypdf
langchain_qdrant
langchain_openai
ipykernel
langchain_google_genai
langchain_community
pandas
langchain_huggingface
faiss-cpu
sentence-transformers
tiktoken
chardet
langchain_ollama
docx2txt
pypdf
langchain_qdrant
agent-framework
flask
pillow